[Unit]
Description=Photon Port %i
After=network.target

[Service]
Environment=PHOTON_PORT=%i
ExecStart=/opt/photon/bin/photon.js
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10
Type=simple

[Install]
WantedBy=multi-user.target
